<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>370675860161-i8cpi4f81rap0vdgk9mbuclu2o2609v4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.370675860161-i8cpi4f81rap0vdgk9mbuclu2o2609v4</string>
	<key>API_KEY</key>
	<string>AIzaSyBEapPAixZMGXl02jYdEUfDrWMNU9t2ths</string>
	<key>GCM_SENDER_ID</key>
	<string>370675860161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aniloncul.Shopping-App-Pazarama</string>
	<key>PROJECT_ID</key>
	<string>shopping-app-pazarama</string>
	<key>STORAGE_BUCKET</key>
	<string>shopping-app-pazarama.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:370675860161:ios:fba191e3a9538e211fca40</string>
</dict>
</plist>